@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var searchQuery = (Request["q"] != null ) ? Request["q"] : string.Empty;
    var searchResults = Umbraco.TypedSearch(searchQuery);
}
<p>Your search for <strong>@searchQuery</strong> returned <strong>@searchResults.Count()</strong> results:</p>
@foreach(var item in searchResults)
{
    <div>
        <a href="@item.Url">@item.Name</a>
    </div>
}